<!-- SECCION CURRICULUM -->
<section id="curriculum" class="curriculum">
    <div class="contenido-seccion">
     
        <h2>Experiencias</h2>
        <div class="fila">
            <div class="col izquierda">
                    <h3>Educación</h3>
                    <div class="item izq" >
                        <h4>Masoterapia</h4>
                        <span class="institucion">DayloPlas</span>
                        <span class="fecha">2021 - 2023</span>
                        <div class="conectori">
                            <div class="circuloi"></div>
                        </div>
                    </div>
                    <div class="item izq" >
                        <h4>Licenciatura en Sistemas</h4>
                        <span class="institucion">Universidad Nacional de General Sarmiento</span>
                        <span class="fecha">2020 - actualidad</span>
                        <div class="conectori">
                            <div class="circuloi"></div>
                        </div>
                    </div>

                    <div class="item izq" >
                        <h4>Bachiller en Humanidades</h4>
                        <span class="institucion">Instituto Cristo Rey</span>
                        <span class="fecha">2011 - 2017</span>
                        <div class="conectori">
                            <div class="circuloi"></div>
                        </div>
                    </div>
            </div>


            <div class="col derecha">
                <h3 >Experiencia de trabajo</h3>

                <div class="item der" >
                    <h4>Masoterapeuta</h4>
                    <span class="lugar">Taurus</span>
                    <span class="fecha">2021 - actualidad</span>
                    <div class="conectord">
                        <div class="circulod"></div>
                    </div>
                </div>

                <div class="item der" >
                    <h4>Atencion al Cliente</h4>
                    <span class="lugar">ViaSano Salud</span>
                    <span class="fecha">2019 - 2021</span>
                    <div class="conectord">
                        <div class="circulod"></div>
                    </div>
                </div>

                <div class="item der" >
                    <h4>Instrumentador en Odontologia</h4>
                    <span class="lugar">Hospital Odontologico</span>
                    <span class="fecha">2018 - 2018</span>
                    <div class="conectord">
                        <div class="circulod"></div>
                    </div>
                </div>

                
            </div>
        </div>
    </div>
</section>