   <!-- SECCION SKILLS -->
   <section id="skills" class="skills" >
    <h2>HARD & SOFT SKILLS </h2>
    <div class="contenido-skills">

        
            <div class="contenedor-boton">
                <div class="circulos">
                    <circle-progress 
                    [percent]="35" 
                    [radius]="90" 
                    [imageSrc]="" 
                    [title]="'HTML'"
                    [titleColor]="'#FFF'"
                    [showTitle]="true" 
                    [showImage]="false" 
                    [imageHeight]="70" 
                    [imageWidth]="70" 
                    [showUnits]="false"
                    [showSubtitle]="false" 
                    [outerStrokeWidth]="16" 
                    [innerStrokeWidth]="2" 
                    [outerStrokeColor]="'#1CB698'"
                    [innerStrokeColor]="'#FFF'" 
                    [animation]="true" 
                    [animationDuration]="600">
                </circle-progress>

            </div>     
            <div class="circulos">
                <circle-progress 
                [percent]="35" 
                [radius]="90" 
                [imageSrc]="" 
                [title]="'CSS'"
                [titleColor]="'#FFF'"
                [showTitle]="true" 
                [showImage]="false" 
                [imageHeight]="70" 
                [imageWidth]="70" 
                [showUnits]="false"
                [showSubtitle]="false" 
                [outerStrokeWidth]="16" 
                [innerStrokeWidth]="2" 
                [outerStrokeColor]="'#1CB698'"
                [innerStrokeColor]="'#FFF'" 
                [animation]="true" 
                [animationDuration]="600">
            </circle-progress>
        </div>  

        <div class="circulos">
            <circle-progress 
            [percent]="15" 
            [radius]="90" 
            [imageSrc]="" 
            [title]="'JAVASCRIPT'"
            [titleColor]="'#FFF'"
            [showTitle]="true" 
            [showImage]="false" 
            [imageHeight]="70" 
            [imageWidth]="70" 
            [showUnits]="false"
            [showSubtitle]="false" 
            [outerStrokeWidth]="16" 
            [innerStrokeWidth]="2" 
            [outerStrokeColor]="'#1CB698'"
            [innerStrokeColor]="'#FFF'" 
            [animation]="true" 
            [animationDuration]="600">
        </circle-progress>
    </div>  
    
            <div class="circulos">
                <circle-progress 
                [percent]="15" 
                [radius]="90" 
                [imageSrc]="" 
                [title]="'JAVA'"
                [titleColor]="'#FFF'"
                [showTitle]="true" 
                [showImage]="false" 
                [imageHeight]="70" 
                [imageWidth]="70" 
                [showUnits]="false"
                [showSubtitle]="false" 
                [outerStrokeWidth]="16" 
                [innerStrokeWidth]="2" 
                [outerStrokeColor]="'#1CB698'"
                [innerStrokeColor]="'#FFF'" 
                [animation]="true" 
                [animationDuration]="600">
            </circle-progress>
        </div>  

        <div class="circulos">
            <circle-progress 
            [percent]="20" 
            [radius]="90" 
            [imageSrc]="" 
            [title]="'NETBEANS'"
            [titleColor]="'#FFF'"
            [showTitle]="true" 
            [showImage]="false" 
            [imageHeight]="70" 
            [imageWidth]="70" 
            [showUnits]="false"
            [showSubtitle]="false" 
            [outerStrokeWidth]="16" 
            [innerStrokeWidth]="2" 
            [outerStrokeColor]="'#1CB698'"
            [innerStrokeColor]="'#FFF'" 
            [animation]="true" 
            [animationDuration]="600">
        </circle-progress>
        </div>  

        <div class="circulos">
            <circle-progress 
            [percent]="20" 
            [radius]="90" 
            [imageSrc]="" 
            [title]="'MySQL'"
            [titleColor]="'#FFF'"
            [showTitle]="true" 
            [showImage]="false" 
            [imageHeight]="70" 
            [imageWidth]="70" 
            [showUnits]="false"
            [showSubtitle]="false" 
            [outerStrokeWidth]="16" 
            [innerStrokeWidth]="2" 
            [outerStrokeColor]="'#1CB698'"
            [innerStrokeColor]="'#FFF'" 
            [animation]="true" 
            [animationDuration]="600">
        </circle-progress>
        </div>  
        <div class="circulos">
            <circle-progress 
            [percent]="35" 
            [radius]="90" 
            [imageSrc]="" 
            [title]="'ANGULAR'"
            [titleColor]="'#FFF'"
            [showTitle]="true" 
            [showImage]="false" 
            [imageHeight]="70" 
            [imageWidth]="70" 
            [showUnits]="false"
            [showSubtitle]="false" 
            [outerStrokeWidth]="16" 
            [innerStrokeWidth]="2" 
            [outerStrokeColor]="'#1CB698'"
            [innerStrokeColor]="'#FFF'" 
            [animation]="true" 
            [animationDuration]="600">
        </circle-progress>
        </div>  

        


        </div> 
    </div> 
</section >